.shine {
  background: var(--ifm-color-emphasis-200);
  background-image: linear-gradient(
    to right,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-300) 20%,
    var(--ifm-color-emphasis-200) 40%,
    var(--ifm-color-emphasis-200) 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;
}

.lines {
  height: 1em;
  margin-top: 10px;
  width: calc(100% - 50px);
  display: inline-block;
}

.shineAnimation {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@media (prefers-reduced-motion) {
  @keyframes placeholderShimmer {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 0;
    }
  }
}
