version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "America/Chicago"
    labels:
      - ":package: dependencies"
      - ":robot: bot"
    commit-message:
      prefix: ":arrow_up:"
      
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "America/Chicago"
    labels:
      - ":package: dependencies"
      - ":robot: bot"
    commit-message:
      prefix: ":arrow_up:"
    versioning-strategy: increase
