.title {
  color: var(--ifm-color-primary);
}

.profile_section_title {
  margin-bottom: 10px;
}

.profile_name {
  margin-top: 10px;
}

.profile_avatar {
  border-radius: 50%;
  height: var(--ifm-avatar-photo-size-xl);
  width: var(--ifm-avatar-photo-size-xl);
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.profile_section {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
