/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d90000;
  --ifm-color-primary-dark: #da0000;
  --ifm-color-primary-darker: #910000;
  --ifm-color-primary-darkest: #480000;
  --ifm-color-primary-light: #ff2424;
  --ifm-color-primary-lighter: #ff6d6d;
  --ifm-color-primary-lightest: #ffb6b6;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
